{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="top-margin bot-margin">
  <div class="about gray-box flex space-between">
      <div class="right-border center" style="width: 45%;">
        <img class="about-img " src="{% static 'bogdan.jpg' %}" alt="img" >
        <br><br>
        <div class="gray-box right-margin left-margin bot-margin" style="margin-top: 40px;">
          <p style="color: black;">My name is Raicu Bogdan</p><br>
          <p class="justify" style="color: black;">
            I graduated from the Faculty of History and Philosophy
            (bachelor's degree in philosophy)
            at Babes-Bolyai University in Cluj-Napoca and also
            have a master's degree in Philosophy, culture and
            communication.<br><br>
            
            Even though I enjoy the most what my field of study
            has to offer both as an academic discipline and as
            a spiritual/intellectual practice,
            I prefer my core profession to be a more finite and
            exact craft. That is why I
            have chosen to become a programmer.<br><br>

            When it comes to getting things done, I try to invest myself in
            what I'm working on as much as I can, fulfilling the
            freedom and creativity that comes along with code writing.
            For this I've taken up fullstack development with Python and
            Django as it exercises both my creativity and problem solving
            skills, leaving no part of my personal and professional
            development behind.<br><br>
          </p>

          You can find me on the web: <br><br>
          <a class="general-btn" style="font-size: large;" href="https://www.linkedin.com/in/bogdan-raicu-45a393131/">LinkedIn</a><br><br>
          <a class="general-btn" style="font-size: large;" href="https://github.com/raicubogdan/">Github</a>
          <br><br>

          You can reach me by: <br>
          Email: raicubogdan15@gmail.com <br>
          Phone: 0733360274

          </p>

        </div>

      </div>

    <div class="left-border center" style="width: 45%;">
      <img class="about-img" src="{% static 'andrei.jpg' %}" style="height: 300px; width: 300px;" alt="img" >
      <br><br>

      <div class="gray-box right-margin left-margin bot-margin">
        <p style="color: black;">My name is Muntean Mircea-Andrei</p><br>
        <p class="justify" style="color: black;">
          I'm a passionate and devoted young graduate from the university of history and philosophy.
          I am at the level of a master's degree in Ancient and Medieval Philosophy while programming helps me keep in
          touch with my logical and analytical skills. <br><br>

          I enjoy learning and developing my skills in domains that catch my interest,
          coding and web development being one of them.
          I wish to get the opportunity to put to good use my skills, so that I can create tools that can help people
          online.  <br><br>

          I'm looking forward to seeing my hard work become easily accessible to both companies and customers
          alike that will use those online platforms.  In my free time I do my best to excel in my profession.<br><br>
        </p>

        You can find me on the web: <br><br>
        <a class="general-btn" style="font-size: large;" href="https://www.linkedin.com/in/muntean-mircea-andrei-39141a1ab/">LinkedIn</a><br><br>
        <a class="general-btn" style="font-size: large;" href="https://github.com/zulu607i">Github</a>
        <br><br>

        You can reach me by: <br>
        Email: munteanm.andrei@gmail.com <br>
        Phone: 0740686313

        </p>

      </div>

    </div>

  </div>

</div>
{% endblock  %}
  