{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="top-margin bot-margin">
  <div class="about gray-box flex space-between">
      <div class="right-border center" style="width: 45%;">
        <img class="about-img" src="{% static 'bogdan.jpg' %}" alt="img" >
        <br><br>
        <div class="gray-box right-margin left-margin bot-margin">
          <p style="color: black;">My name is Raicu Bogdan</p><br>
          <p class="justify" style="color: black;">
            I graduated philosophy at Babes-Bolyai University
            in Cluj-Napoca and also finished the masters programme
            of Philosophy, culture and communication. <br><br>
            
            Even though I enjoy the most what my field of study
            has to offer both as an academic discipline and as
            a spiritual/intellectual practice, professionally
            I prefer a more finite and exact craft. That is why I
            have chosen to become a programmer. <br><br>

            When it comes to getting things done, I try to invest myself in 
            what I'm working on as much as I can, fulfilling the 
            freedom and creativity that comes along with code writing. 
            For this I've taken up fullstack development with Python and 
            Django as it exercises both my creativity and problem solving 
            skills, leaving no part of my personal and professional
            development behind. <br><br>
          </p>

          You can find me on the web: <br><br>
          <a class="general-btn" style="font-size: large;" href="https://www.linkedin.com/in/bogdan-raicu-45a393131/">LinkedIn</a><br><br>
          <a class="general-btn" style="font-size: large;" href="https://github.com/raicubogdan/">Github</a>
          <br><br>

          You can reach me by: <br>
          Email: raicubogdan15@gmail.com <br>
          Phone: 0733360274

          </p>

        </div>

      </div>

    <div class="left-border center" style="width: 45%;">
      <img class="about-img" src="{% static 'bogdan.jpg' %}" alt="img" >
      <br><br>

      <div class="gray-box right-margin left-margin bot-margin">
        <p style="color: black;">My name is Raicu Bogdan</p><br>
        <p class="justify" style="color: black;">
          I graduated philosophy at Babes-Bolyai University
          in Cluj-Napoca and also finished the masters programme
          of Philosophy, culture and communication. <br><br>
          
          Even though I enjoy the most what my field of study
          has to offer both as an academic discipline and as
          a spiritual/intellectual practice, professionally
          I prefer a more finite and exact craft. That is why I
          have chosen to become a programmer. <br><br>

          When it comes to getting things done, I try to invest myself in 
          what I'm working on as much as I can, fulfilling the 
          freedom and creativity that comes along with code writing. 
          For this I've taken up fullstack development with Python and 
          Django as it exercises both my creativity and problem solving 
          skills, leaving no part of my personal and professional
          development behind. <br><br>
        </p>

        You can find me on the web: <br><br>
        <a class="general-btn" style="font-size: large;" href="https://www.linkedin.com/in/bogdan-raicu-45a393131/">LinkedIn</a><br><br>
        <a class="general-btn" style="font-size: large;" href="https://github.com/raicubogdan/">Github</a>
        <br><br>

        You can reach me by: <br>
        Email: raicubogdan15@gmail.com <br>
        Phone: 0733360274

        </p>

      </div>

    </div>

  </div>

</div>
{% endblock  %}
  