{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if company.name == user.company.name %}
  <!-- If the logged in Company is the owner of the currently accesed profile page,
    fields can pe updated -->

  <div class="container">
    <ul class="flex">
      <li>
        <h2>@{{company.name}}</h2>

        <!--If user has uploaded profile picture, it will be fetched from media/profile_pics-->
        {% if company.image %} 
            <img src="{{ company.image.url }}", class="img-responsive thumbnail" alt="img" style="height: 128px; width: 128px;">
            <form action="{% url 'users:cprofilepic_update' pk=user.pk%}">
                <input type="submit" value="Change Profile Pic" />
            </form>

        <!-- If user hasn't uploaded any profile pictures, a placeholder image will be fetched from static/users/user.png -->
        {% else %}
            <img src="{% static 'users/user.png' %}" alt="Upload profile pic" style="height: 100px; width: 100px;">
            <form action="{% url 'users:cprofilepic_update' pk=user.pk%}">
                <input type="submit" value="Change Profile Pic" />
            </form>

        {% endif %}
      </li>

      <!--Company Description -->
      <li>
        <ul class="flex flex-column">
          <li>
            <h2>About</h2>
            <p>{{company.about}}</p>
            <form action="{% url 'users:company_update' pk=user.pk%}">
              <input type="submit" value="Edit About" />
            </form>
            <br>
          </li>

          <li>
            <!--Current Company Posts List View -->
            <h3>My job posts</h3>
            {% for posts in user.posts.all %}    
              <h4><a href=" {% url 'posts:detail' pk=posts.pk %}">{{posts.title}}</a></h4>

            {% endfor %}

            <!-- Companypost Create View -->
              <h3><a class="btn btn-success" href="{% url 'posts:create' %}"><h4>Create Post</h4></a></h3>
          </li>

        </ul>

      </li>

    </ul>

  </div>

{% else %}
  <!-- Non updateable Company profile page -->
  <div class="container">
    <ul class="flex">
      <li>
        <h2>@{{company.name}}</h2>

        {% if company.image %}
            <img src="{{ company.image.url }}", class="img-responsive thumbnail" alt="img" style="height: 128px; width: 128px;">

        {% else %}
            <img src="{% static 'users/user.png' %}" alt="Upload profile pic" style="height: 100px; width: 100px;">

        {% endif %}

      </li>

      <li>
        <ul class="about-postlist">
          <li>
            <h2>About</h2>
            {{company.about}}

          </li>

          <li>
            <h3>{{company.name}}'s job posts</h3>
            {% for post in my_posts %}

              {% if company.user|striptags == post.user|striptags %}
              <h3><a href="{% url 'posts:detail' pk=post.pk %}">{{post.title}}</a></h3>
              {% endif %}

            {% endfor %}

          </li>

        </ul>

      </li>

    </ul>

  </div>

{% endif %}

{% endblock  %}