{% extends 'base.html' %}
{% load static %}.

{% block content %}

{% if company.name == user.company.name %}
  <!-- If the logged in Company is the owner of the currently accesed profile page,
    fields can pe updated -->

  <div class="container top-margin bot-margin">
    <ul class="flex">
      <li>
        <h2>@{{company.name}}</h2>

        <!--If user has uploaded profile picture, it will be fetched from media/profile_pics-->
        {% if company.image %} 
            <img src="{{ company.image.url }}", class="thumbnail" alt="img" style="height: 128px; width: 128px;">
            <form action="{% url 'users:cprofilepic_update' pk=user.pk%}">
                <input class="general-btn" type="submit" value="Upload" />
            </form>

        <!-- If user hasn't uploaded any profile pictures, a placeholder image will be fetched from static/users/user.png -->
        {% else %}
            <img src="{% static 'users/user.png' %}" class="thumbnail" alt="Upload profile pic" style="height: 128px; width: 128px;">
            <form action="{% url 'users:cprofilepic_update' pk=user.pk%}">
                <input type="submit" value="Upload" />
            </form>

        {% endif %}
      </li>

      <!--Company Description -->
      <li>
        <ul class="flex flex-column gray-box" style="padding-right: 0px;">
          <li>
            <h2>About</h2>
            <p class="justify medium">{{company.about}}</p>
            <br>
              <form action="{% url 'users:company_update' pk=user.pk%}">
                <input class="general-btn" type="submit" value="Edit About" />

              </form>
            <br><br>

            <!-- Companypost Create View -->
            <h2 class="create-post">
              <a class="general-btn" 
                style="background-color: lightgreen; font-size: xx-large;" 
                href="{% url 'posts:create' %} " >Create Post
              </a>
            </h2>

          </li>

          <li>            
            <!--Current Company Posts List View -->
            <div class="flex space-between">
              <h3 style="margin-bottom: 0;">
                <p>My job posts</p>
                <p>_____________</p>
              </h3>
              <h3 style="margin-bottom: 0;">
                <p>Published on</p>
                <p>_____________</p>
              </h3>
            </div>
            {% for posts in user.posts.all %}
            <div class="flex" style="justify-content: space-between;">
              <h4 style="max-width: 500px;"><a style="color: black;" href=" {% url 'posts:detail' pk=posts.pk %}">{{posts.title}}</a></h4>
              {{posts.created_at}}
            </div> 
            {% endfor %}

          </li>

        </ul>

      </li>

    </ul>

  </div>

{% else %}
  <!-- Non updateable Company profile page -->
  <div class="container top-margin bot-margin">
    <ul class="flex">
      <li>
        <h2>@{{company.name}}</h2>

        {% if company.image %}
            <img src="{{ company.image.url }}", class="thumbnail" alt="img" style="height: 128px; width: 128px;">

        {% else %}
            <img src="{% static 'users/user.png' %}" class="thumbnail" alt="Upload profile pic" style="height: 100px; width: 100px;">

        {% endif %}

      </li>

      <!-- Company Description -->
      <li>
        <ul class="gray-box">
          <li>
            <h2>About</h2>
            {{company.about}}

          </li>
          <br>
          <li style="padding: 0px;">            
            <!--Current Company Posts List View -->
            <div class="flex" style="justify-content: space-between;">
              <h3 style="margin-bottom: 0;">
                <p>{{company.name}}'s job posts</p>
                <p>_____________</p>
              </h3>
              <h3 style="margin-bottom: 0;">
                <p>Published on</p>
                <p>_____________</p>
              </h3>
            </div>
            {% for post in my_posts %}            
              {% if post.user|striptags == company.user.username|striptags %}
                <div class="flex" style="justify-content: space-between;">
                  <h4 style="max-width: 500px;"><a style="color: black;" href=" {% url 'posts:detail' pk=post.pk %}">{{post.title}}</a></h4>
                  {{post.created_at}}

                </div> 
              {% endif %}

            {% endfor %}
          
          
          </li>

        </ul>

      </li>

    </ul>

  </div>

{% endif %}

{% endblock  %}