{% extends 'base.html' %}
{% load static %}


{% block content %}

{% if employee.user == user.employee.user %}

    <h2>@{{employee.user}}</h2>

    <!--If user has uploaded profile picture, it will be fetched from media/profile_pics-->
    {% if employee.image %}
        <img src="{{ employee.image.url }}", class="img-responsive thumbnail" alt="img" style="height: 100px; width: 100px;">
        <form action="{% url 'users:eprofilepic_update' pk=user.pk%}">
            <input type="submit" value="Change Profile Pic" />
        </form>
    
    <!--If user has uploaded profile picture, it will be fetched from media/profile_pics-->
    {% else %}
        <img src="{% static 'users/user.png' %}" alt="Upload profile pic" style="height: 100px; width: 100px;">
        <form action="{% url 'users:eprofilepic_update' pk=user.pk%}">
            <input type="submit" value="Change Profile Pic" />
        </form>

    {% endif %}
        
    <!-- Employee description -->
    <h2>About</h2>
    {{employee.about}}

    <form action="{% url 'users:employee_update' pk=user.pk%}">
        <input type="submit" value="Edit About" />
    </form>

    <!-- If there the user uploaded a CV, it will be fetched from media/CVs -->
    {% if employee.cv %}
        <a href="{{ employee.cv.url }}">CV</a>

        <form action="{% url 'users:cv_update' pk=user.pk %}">
            <input type="submit" value="Upload CV" />
        </form>

    {% else %}
        <p>CV not uploaded</p>

        <form action="{% url 'users:cv_update' pk=user.pk %}">
            <input type="submit" value="Upload CV" />
        </form>

    {% endif %}


{% else %}
    <!-- Non updateable Employee profile page -->
    <h2>@{{employee.user}}</h2>

    {% if employee.image %}
        <img src="{{ employee.image.url }}", class="img-responsive thumbnail" alt="img" style="height: 128px; width: 128px;">

    {% else %}
        <img src="{% static 'users/user.png' %}" alt="Upload profile pic" style="height: 100px; width: 100px;">

    {% endif %}

    <h2>About</h2>
    {{employee.about}}

{% endif %}

{% endblock  %}