{% extends 'base.html' %}

{% block content %}

<div class="welcome-page" style="margin-top: 20px;">
  <p style="font-size: xxx-large; text-align: center;">Welcome to DailyJobs!</p>
  <br>

  <h4 class="welcome-page-description">DailyJobs is a one-day-job platform where you can post job offers as a company and apply for jobs as a potential employee.
    The jobs destined for this platform range from one day to around a week and require minimum work experience.
  </h4>

  {% if user.is_authenticated %}
  <div class="home-btns" style="margin-top: 20px;">
    <a class="signup-btn" style="text-decoration: none;" href="{% url 'posts:list' %}">Job Offers</a>
    <!-- <a  href=""></a> -->

  </div>

  {% else %}
  <div class="home-btns" style="margin-top: 50px;">
    <a class="signup-btn" style="text-decoration: none;" href="{% url 'login' %}">Login </a>
    <a class="signup-btn" style="text-decoration: none; margin-left: 170px;" href="{% url 'users:signup' %}">SignUp</a>
    
  </div>

</div>
  {% endif %}
  
  
{% endblock  %}
