{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="welcome-page background" style="margin-top: 20px;">
  <p style="font-size: xxx-large; text-align: center;">Welcome to DailyJobs!</p>
  <br>

  <h4 class="welcome-page-description">DailyJobs is a one-day-job platform where you can post job offers as a company and apply for jobs as a potential employee.
    The jobs destined for this platform range from one day to around a week and require minimum work experience.
  </h4>
  <br>

  {% if user.is_authenticated %}
    <div class="home-btns" style="margin-top: 20px;">
    <a class="signup-btn" style="text-decoration: none; margin-right: 80px;" href="{% url 'posts:list' %}">Job Offers</a>
    
    {% if user.is_company %}
      <a class="signup-btn" style="text-decoration: none" href="{% url 'users:company_detail' pk=user.pk %}">My profile</a>

    {% elif user.is_employee %}
      <a class="signup-btn" style="text-decoration: none" href="{% url 'users:employee_detail' pk=user.pk %}">My profile</a>

    {% endif %}

  </div>

</div>

  {% else %}
  <div class="home-btns" style="margin-top: 50px;">
    <a class="signup-btn" style="text-decoration: none;" href="{% url 'login' %}">Login </a>
    <a class="signup-btn" style="text-decoration: none; margin-left: 170px;" href="{% url 'users:signup' %}">SignUp</a>
    
  </div>

</div>
  {% endif %}
  
  
{% endblock  %}
