* {
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
}

ul {
    list-style-type: none;
    padding-right: 40px;
    
}

.flex {
    display: flex;

}

.flex > li {
    padding-right: 40px;
}

.flex-column  {
    flex-direction: column;
}

.description {
    text-align: justify;
}

.buttons {
    display: flex;
}


html, body {
    height: 100%;
}

#content {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 200px;
}

#footer {
    background-color: #101010;
    position: relative;
    height: 70px;
    margin-top: -70px;
    clear: both;
}

.form {
    margin: auto;
    width: 400px;
    padding: 10px;
}

.auth-btns{
    color: white;
    padding:  10px 24px;
    background-color:  #00b300;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.signup-btn{
    color: white;
    background-color: #1aa3ff;
    padding:  10px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: x-large;
    height: 2cm;
    width: 5cm;
}

.signup-div > a{
    margin-left: 20px;
}

.top-margin {
    margin-top: 40px;
}
.site-description{
    display:flex;
    margin-left: 20px;
    flex-direction: column;
}

.text-description{
    text-align: center;
}

.post-form{
    width: 300px;
}
