* {
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
}

ul {
    list-style-type: none;
    padding-right: 40px;
    
}

.flex {
    display: flex;

}

.flex > li {
    padding-right: 40px;
}

.flex-column  {
    flex-direction: column;
}

.description {
    text-align: justify;
}

.buttons {
    display: flex;
}


html, body {
    height: 100%;
}

#content {
    min-height: 100%;
}

#main {
    overflow: auto;
    /* padding-bottom: 200px; */
}

#footer {
    background-color: #101010;
    height: 70px;
    margin-top: -70px;
    clear: both;
}

.form {
    margin: auto;
    width: 400px;
    padding: 10px;
}

.auth-btns{
    color: white;
    padding:  10px 24px;
    background-color:  #00b300;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.signup-btn {
    color: white;
    background-color: #1aa3ff;
    padding:  10px 24px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: x-large;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a:visited{
    text-decoration: none;
}

button:hover{
    color: #095191;
}

.top-margin {
    margin-top: 40px;
}

.welcome-page {
    border: black;
    border-radius: 25px;
    padding: 30px 50px 50px 50px;
    background-color: rgba(169,169,169, 0.4);
    margin: auto;
    width: 550px;
}

.signup-page {
    border: black;
    border-radius: 25px;
    background-color: rgba(169,169,169, 0.4);
    margin-top: 20px;
}

.welcome-page-description{
    width: 400px;
    text-align: justify;
    margin: auto;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.home-btns {
    margin: auto;
    width: 400px;
}