{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        {% if user.is_company %}

        <div class="container">
            <a href="{% url 'posts:create' %}">Create Post</a><br>
        </div>

        <div class="container">
            <a href="{% url 'posts:list' %}">My Posts</a><br>
        </div>

        {% elif user.is_employee %}

        <div class="container">
            <a href="{% url 'posts:list' %}">Posts List</a><br>
        </div>

        {% endif %}
        

    {% endif %}

{% endblock %}
