{% extends 'base.html' %}

{% block content %}

{% if user.is_company %}
    <h3>My Job Posts</h3>

    {% for posts in user.posts.all %}    
        <ul>
            <h4><a href=" {% url 'posts:detail' pk=posts.pk %}">{{posts.title}}</a></h4>
        </ul>

    {% endfor %}
    <br>
    <h3><a href="{% url 'posts:create' %} " class="btn btn-success">Create Post</a><br></h3>

{% else %}
    <h2>Job offers</h2>
    
    {% for post in posts %}
        <ul>
            <h4><a href=" {% url 'posts:detail' post.pk %}">{{post.title}}</a></h4>
        </ul>

    {% endfor %}

{% endif %}

{% endblock %}