{% extends 'base.html' %}

{% block content %}

<div class="container flex" style="justify-content: space-around;">

	{% if user.is_company %}
	<div style="margin-top: 200px; ">
		<a style="font-size: xx-large;" href="{% url 'posts:create' %} " class="btn btn-success">Create Post</a>
	</div>
	{% endif %}

	<div>
			{% if user.is_authenticated %}
					<h1 style="margin-left:150px; margin-bottom: 20px">Job Offers:</h1>

				{% for post in posts %}
					<div style=" background-color: rgba(255, 255, 255, 0.80); width: 600x; height: 100px; border: grey;
																			border-style: outset; border-radius: 25px; margin:auto ">
						<h4 style="margin-left: 10px; margin-right: 10px;"> 
							<a class="item" style="color: black;" href="{% url 'posts:detail' pk=post.pk %}">
								{{post.title}}
								by
								{{post.user}}
								created at:
								{{post.created_at}}
							</a>

						</h4>

					</div>    

					<br>	

				{% endfor %}
			
			{% endif %}
	</div>
</div>
{% endblock %}