{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
			<p class="top-margin" style="color: #B8B8B8;">
				Published on: {{ companypost.created_at }}
			</p>
			<br>

		<ul class="flex flex-column">
			<li>
				<h2 style="margin: 0"> {{ companypost.title }}</h2>

				{% for company in companies %}
						{% if companypost.user|striptags ==  company.user|striptags %}
								<h4>by <a href="{% url 'users:company_detail' pk=company.user.pk %}">@{{ companypost.user.company.name }}</a></h4>
						<br>
			
						{% endif %}
								
				{% endfor %}
			</li>

			<li>
				<p class="job-description" >{{companypost.description}}</p>
				<br>
				<p>Between: {{ companypost.start_date }} - {{ companypost.end_date }}</p>
				<br>
				{% if user.is_employee %}
						{% for application in applications %}
								{% if companypost.title|striptags|add:user.username|striptags == application.identifier|striptags %}
										<p>You applied for this job</p>

										<a href="{% url 'posts:application_delete' pk=application.pk %}">Unapply</a>

								{% endif %}

						{% endfor %}

						{% if companypost.title|striptags|add:user.username|striptags not in identifiers %}
								<a href="{% url 'posts:apply' pk=companypost.pk %}">Apply</a>

						{% endif %}
				
				{% elif user.is_company %}
						
					<h3>Applications</h3>

					{% if application.post not in post_titles %}
						<p>Nobody applied yet</p>

					{% endif %}

					{% for application in applications %}
							
						{% if application.post|striptags == companypost.title|striptags %}
							<a href="{% url 'users:employee_detail' pk=application.name.pk %}">{{application.name}}</a>
						
						{% endif %}

					{% endfor %}

					<div class="buttons">
						<h3><a href="{% url 'posts:delete' pk=companypost.pk %}" class="btn btn-danger">Delete Post</a></h3>
						<h3><a href="{% url 'posts:update' pk=companypost.pk %}" class="btn btn-warning">Update Post</a></h3>
					
					</div>
		</li>
		</ul>

			<h3 style="margin-top: 100px"><a href="{% url 'posts:list' %} ">Return to Job Offers</a></h3>

    {% endif %}

    </div>

{% endblock  %}
